# Molecule managed

{% if item.registry is defined %}
FROM {{ item.registry.url }}/{{ item.image }}
{% else %}
FROM {{ item.image }}
{% endif %}

RUN apt-get update && apt-get upgrade -y &&\
    apt-get install systemd systemd-sysv sysvinit-utils -y &&\
    apt-get install docker docker.io docker-compose -y && apt-get clean &&\
    if [ ! -e /sbin/init ]; then ln -s /lib/systemd/systemd /sbin/init ; fi

ENV container docker

# Don't start the optional systemd services.
RUN find /etc/systemd/system \
         /lib/systemd/system \
         -path '*.wants/*' \
         -not -name '*journald*' \
         -not -name '*systemd-tmpfiles*' \
         -not -name '*systemd-user-sessions*' \
         -exec rm \{} \;
RUN systemctl set-default multi-user.target

RUN apt-get update && apt-get install -y python3 sudo bash ca-certificates iproute2 && apt-get clean

CMD service docker start
